<head>
  <%= stylesheet_link_tag "lectures/lecture_new", :media => "all" %>
</head>

<section id="lecture-post">
  <div id="lecture-prof-container">
    <div class="lec-search-parts">
      <span class="pankuzu">
        <a href = "/" style="margin-left:40px;"><span class="pan-cloud">横国の森の入り口</span></a>
        <a href= "/lectures" class="middle-pan"><span class="pan-cloud">授業の木　</span></a>

      </span>
    </div>
      <div class="lecture-post-container">
        <span class="ribbon-newlec"><i class="fas fa-plus"></i></span>
        <h2 class="new-lec-title">新規授業登録</h2>
        <%= form_for @lecture do |f| %>
        <div class="names">
        <%= f.text_field :name,placeholder:"授業名",maxlength:30,class:"lecture-name"%>
        <%= f.text_field :teacher,placeholder:"教員名",maxlength:20,class:"lecture-name"%>
          </div>
          <div class="department-choose">
          <%= f.select :department,[
            ["開講学部を選んでください。","#"],
            ["一般教養科目","一般教養科目"],
            ["経済学部","経済学部"],
            ["経営学部","経営学部"],
            ["教育学部 : 学校教育課程","教育学部 ： 学校教育課程"],
            ["都市科学部 : 都市社会共生学科","都市科学部 : 都市社会共生学科"],
            ["都市科学部 : 建築学科","都市科学部 ： 建築学科"],
            ["都市科学部 : 都市基盤学科","都市科学部 ： 都市基盤学科"],
            ["都市科学部 : 環境リスク共生学科","都市科学部 : 環境リスク共生学科"],
            ["理工学部 : 機械・材料・海洋系学科 : 機械工学ＥＰ","理工学部 : 機械・材料・海洋系学科 : 機械工学ＥＰ"],
            ["理工学部 : 機械・材料・海洋系学科 : 材料工学ＥＰ","理工学部 : 機械・材料・海洋系学科 : 材料工学ＥＰ"],
            ["理工学部 : 機械・材料・海洋系学科 : 海洋空間のシステムデザインＥＰ","理工学部 : 機械・材料・海洋系学科 : 海洋空間のシステムデザインＥＰ"],
            ["理工学部 : 化学・生命系学科 : 化学EP","理工学部 : 化学・生命系学科 : 化学EP"],
            ["理工学部 : 化学・生命系学科 : 化学応用EP","理工学部 : 化学・生命系学科 : 化学応用EP"],
            ["理工学部 : 化学・生命系学科 : バイオEP","理工学部 : 化学・生命系学科 : バイオEP"],
            ["理工学部 : 数物・電子情報系学科 : 数理科学ＥＰ","理工学部 : 数物・電子情報系学科 : 数理科学ＥＰ"],
            ["理工学部 : 数物・電子情報系学科 : 物理工学ＥＰ","理工学部 : 数物・電子情報系学科 : 物理工学ＥＰ"],
            ["理工学部 : 数物・電子情報系学科 : 電子情報システムＥＰ","理工学部 : 数物・電子情報系学科 : 電子情報システムＥＰ"],
            ["理工学部 : 数物・電子情報系学科 : 情報工学ＥＰ","理工学部 : 数物・電子情報系学科 : 情報工学ＥＰ"],
            ["その他","その他"]
            ] ,class:"lecture-department"%>
          </div>
            <h4 style="text-align:center;margin-top:30px;">使用言語</h4>
            <div class="selectlang">
              <%=f.radio_button :langage, "日本語", id:"japanese"%>
              <label for="japanese" id="japaneselabel">日本語</label>
              <%=f.radio_button :langage, "英語", id:"english"%>
              <label for="english" id="englishlabel">&ensp;英語&ensp;</label>
            </div>
            <h4 style="text-align:center;margin-top:20px;">成績評価の方法</h4>
            <div class="howtoassess">
              <div class="three">
              <div class="attend-section">
                <h4><span>出席</span></h4>
                <%= f.select :attendance,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"attendnum"%>
              </div>

              <div class="lasttest-section">
                <h4><span>期末テスト</span></h4>
                <%= f.select :lasttest,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"lasttestnum"%>
              </div>

              <div class="midtest-section">
                <h4><span>中間テスト</span></h4>
                <%= f.select :midtest,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"midtestnum"%>
              </div>
                </div>
                <div class="three">
              <div class="report-section">
                <h4><span>レポート</span></h4>
                <%= f.select :report,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"reportnum"%>
              </div>

              <div class="inlesson-section">
                <h4><span>授業内課題</span></h4>
                <%= f.select :inlesson,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"inlessonnum"%>
              </div>

              <div class="outlesson-section">
                <h4><span>授業外課題</span></h4>
                <%= f.select :outlesson,[
                    ["０％",0],
                    ["５％",5],
                    ["１０％",10],
                    ["２０％",20],
                    ["２５％",25],
                    ["３０％",30],
                    ["４０％",40],
                    ["５０％",50],
                    ["６０％",60],
                    ["７０％",70],
                    ["７５％",75],
                    ["８０％",80],
                    ["９０％",90],
                    ["１００％",100]
                  ],id:"outlessonnum"%>
              </div>
              </div>
            <div class="other-section">
              <%= f.text_area :other,size:"5x5",placeholder:"シラバス記載の成績評価方法を直接書く場合はこちら",maxlength:3000,class:"other-lec-grade"%>
            </div>
            </div>
            <div id="lecture-submit-container">

              <%= f.submit "登録する",class:"lecture-submit" %>
            </div>
        <% end %>
      </div>
      </div>
</section>
