<head>
   <%= stylesheet_link_tag "professors/professors_show", :media => "all" %>
</head>

<section id="detail-prof-info">
   <div id="detail-prof-info-contaier">
     <div class="details-container" > <!--showの用紙-->

     <div class="basic-info-adjuster">
      <div style="margin-left:50px;">
        <h6 class="label-department">&thinsp;<strong><%= @professor.department %></strong></h6>
        <h1 style="margin: 0 20px 20px 0; font-size:3em;"><%= @professor.name %></h1>
      </div>
      <div class="linklink">
        <%= link_to professors_path, method: :get do %>
          <h6 class="toProfIndex"><i class="fas fa-undo"></i></h6>
        <% end %>
        <%= link_to ratedoctor_path(@professor.id),class:"toRateProfs",method: :get do %>
          <h6 class="toRateProf">この先生をレビューする</h6>
        <% end %>
      </div>
    </div>


        <div class="main-rating-prof">


            <div style="margin:40px  0 30px 0px; ">
              <h1 style="margin-left:60px; margin-bottom:10px;">総合満足度</h1>
              <h1 style="margin-left:50px;"><span class="star-rating-js" data-rating-value= "<%= @displaytotalsatis10x %>" data-rating-max="10"></span> <%=@displaytotalsatis %><span style="font-size:0.5em;"> (<%= @howmanyTotalsatis %>)</span></h1>
            </div>
            <div class="main-rating-prof-container">
            <div class="hoshiboshi">
              <div style="margin-left:30px;">
               <div class="about-interest">
               <h3 style="margin-left:40px; margin-bottom:10px;">ためになる授業度</h3>
               <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayInterest10x %>" data-rating-max="10"></span> <%= @displayInterest %><span style="font-size:0.5em; ">  (<%= @howmanyInterest %>)</span></h1>
               </div>
               <div class="about-easy">
                 <h3 style="margin-left:40px; margin-bottom:10px;display:inline-block">楽単度 <span style="font-size:0.6em;"></span></h3>
                 <button class="standard-of-easy"><i class="far fa-hand-point-right"></i>&nbsp;楽単の理由はこちら</button>
                  <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayEasy10x %>" data-rating-max="10"></span> <%= @displayEasy %><span style="font-size:0.5em;">&ensp;(<%= @howmanyEasy %>)</span></h1>

                <div class= "tagadjuster">
                   <div class="tagtagcontainer">
                      <div class="tagtag">
                        <h6 class="bad"><span class="no1">出席が厳しい</span></h6>
                        <h6 class="good"><span class="no2">出席しなくていい</span></h6>
                        <h6 class="bad"><span class="no3">テストが難しい</span></h6>
                        <h6 class="good">テストが簡単</h6>
                      </div>
                      <div class="tagtag">
                        <h6 class="bad">良や可が来やすい</h6>
                        <h6 class="good">秀や優が来やすい</<<h></h>6></h6>
                        <h6 class="bad">課題がキツイ</h6>
                        <h6 class="good">課題が楽</h6>
                      </div>
                   </div>
                </div>
               </div>
              <div style=" width:570px;">
                <h3 style="margin-left:40px; margin-bottom:10px;">退屈度</h3>
                <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayBoring10x %>" data-rating-max="10"></span> <%= @displayBoring %> <span style="font-size:0.5em;">  (<%= @howmanyBoring %>)</span></h1>
              </div>
              </div>
            </div>

            <div class="no-hoshiboshi">
            <div style="width:100%;">
              <div style="margin:40px auto 0 auto; width:350px;">
              <h3 style="text-align:left;">この先生の授業は<br>他の人におすすめできる？</h3>
                </div>
              <div class="pie-contaier">
                <canvas id="myChart"></canvas>
                <script>draw_graph();</script>
              </div>
            </div>
            <div style="width:100%;">
            <div class="prof-comments-container">
              <% @comments.each do |t| %>
              <div class="each-prof-container">
              <%= t.comments_for_prof %>
              </div>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </section>
<script type="text/javascript">
  $('.standard-of-easy').hover(
    function() {

        //マウスカーソルが重なった時の処理
        $('.tagadjuster').css('display', 'block');

    },
    function() {

        //マウスカーソルが離れた時の処理
        $('.tagadjuster').css('display', 'none');

    }
);
  $(".star-rating-js").each(function(i, e){
      var el = $(e);
      var rateMark = el.data("rating-mark") ? el.data("rating-mark") : "★";
      var rateStr = Array(el.data("rating-max")+1).join(rateMark);
      el.append($("<div>").addClass("rating-front").html(rateStr).css("width", el.data("rating-value") + "%"));
      el.append($("<div>").addClass("rating-back").html(rateStr));
  });
  Chart.plugins.register({
      afterDatasetsDraw: function (chart, easing) {
          // To only draw at the end of animation, check for easing === 1
          var ctx = chart.ctx;

          chart.data.datasets.forEach(function (dataset, i) {
              var meta = chart.getDatasetMeta(i);
              if (!meta.hidden) {
                  meta.data.forEach(function (element, index) {
                      // Draw the text in black, with the specified font
                      ctx.fillStyle = 'rgb(0, 0, 0)';

                      var fontSize = 22;
                      var fontStyle = 'normal';
                      var fontFamily = 'Helvetica Neue';
                      ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                      // Just naively convert to string for now
                      var dataString = dataset.data[index].toString();

                      // Make sure alignment settings are correct
                      ctx.textAlign = 'center';
                      ctx.textBaseline = 'middle';

                      var padding = 5;
                      var position = element.tooltipPosition();
                      ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                  });
              }
          });
      }
  });
</script>
