<head>
   <%= stylesheet_link_tag "professors/professors_show", :media => "all" %>
</head>

<section id="detail-prof-info">
  <div id="detail-prof-info-contaier">
    <div class="prof-search-parts">
      <span class="pankuzu">
        <a href = "/" style="margin-left:40px;"><span class="pan-cloud">横国の森の入り口</span></a>
        <a href= "/professors" class="middle-pan"><span class="pan-cloud">教員の木</span></a>
        <a href= "/professors/<%= @professor.id%>" class="middle-pan"><span class="pan-cloud"><%= @professor.name %>の葉</span></a>
      </span>
    </div>
      <div class="col-lg-11 details-container" > <!--showの用紙-->
     <div class="basic-info-adjuster">
      <div style="margin-left:30px;">
          <h6 class="label-department">&thinsp;<strong><%= @professor.department %></strong></h6>
        <h1 style="margin: 0 20px 10px 0; font-size:3em;"><%= @professor.name %></h1>
      </div>
      <div class="linklink">
        <%= link_to ratedoctor_path(@professor.id),class:"toRateProfs",method: :get do %>
          <h6 class="toRateProf">この先生をレビューする</h6>
        <% end %>
      </div>
    </div>
        <div class="main-rating-prof">
            <div style="width:100%;">
            <div style="margin:40px  0 30px 0px; ">
              <h2 style="margin-left:120px;">総合満足度</h2>
              <h2 style="margin-left:115px;"><span class="star-rating-js" data-rating-value= "<%= @displaytotalsatis10x %>" data-rating-max="10"></span> <span style="font-size:1.3em;"> <%=@displaytotalsatis %></span><span style="font-size:0.6em;"> (<%= @howmanyTotalsatis %>)</span></h2>
            </div>
              </div>
            <div class="main-rating-prof-container">
            <div class="hoshiboshi">
              <div style="margin-left:80px;">
               <div class="about-interest">
               <h3 style="margin-left:40px; margin-bottom:10px;">ためになる授業度</h3>
               <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayInterest10x %>" data-rating-max="10"></span> <%= @displayInterest %><span style="font-size:0.5em; ">  (<%= @howmanyInterest %>)</span></h1>
               </div>
               <div class="about-easy">
                 <h3 style="margin-left:40px; margin-bottom:10px;display:inline-block">楽単度 <span style="font-size:0.6em;"></span></h3>
                 <button class="standard-of-easy"><i class="far fa-hand-point-right"></i>&nbsp;楽単の理由はこちら</button>
                  <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayEasy10x %>" data-rating-max="10"></span> <%= @displayEasy %><span style="font-size:0.5em;">&ensp;(<%= @howmanyEasy %>)</span></h1>

                <div class= "tagadjuster">
                   <h4 style="text-align:center; margin:20px 0 10px 0;"><span style="border-bottom:1px dashed rgba(0,0,0,0.3);">楽単の理由</span></h4>
                   <div class="tagtagcontainer">
                      <div class="tagtag">
                        <h4><span class="<% if @tag1nv == @tagmax %>borders <% elsif @tag1nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　&thinsp;出席が厳しい　　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%=@tag1nv %></span></h4>
                        <h4><span class="<% if @tag2nv == @tagmax %>borders <% elsif @tag2nv == @tagmin %>opaopa <% else %> nonenone<% end %>">&thinsp;出席しなくていい　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag2nv %></span></h4>
                        <h4><span class="<% if @tag3nv == @tagmax %>borders <% elsif @tag3nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　テストが難しい　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag3nv %></span></h4>
                        <h4><span class="<% if @tag4nv == @tagmax %>borders <% elsif @tag4nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　テストが簡単　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag4nv %></span></h4>
                      </div>
                      <div class="tagtag">
                        <h4><span class="<% if @tag5nv == @tagmax %>borders <% elsif @tag5nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　良や可が来やすい　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag5nv %></span></h4>
                        <h4><span class="<% if @tag6nv == @tagmax %>borders <% elsif @tag6nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　秀や優が来やすい　<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag6nv %></span></h4>
                        <h4><span class="<% if @tag7nv == @tagmax %>borders <% elsif @tag7nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　課題がキツイ　　&thinsp;&thinsp;<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag7nv %></span></h4>
                        <h4><span class="<% if @tag8nv == @tagmax %>borders <% elsif @tag8nv == @tagmin %>opaopa <% else %> nonenone<% end %>">　課題が楽　　　　&thinsp;&thinsp;<i class="fas fa-child"></i>&nbsp;×&nbsp;<%= @tag8nv %></span></h4>
                      </div>
                   </div>
                </div>
               </div>
              <div style=" width:570px;">
                <h3 style="margin-left:40px; margin-bottom:10px;">退屈度</h3>
                <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayBoring10x %>" data-rating-max="10"></span> <%= @displayBoring %> <span style="font-size:0.5em;">  (<%= @howmanyBoring %>)</span></h1>
              </div>
              </div>
            </div>

            <div class="no-hoshiboshi">
            <div class="pie-box">
              <div style="margin:40px auto 0 auto;">
              <h4 style="text-align:center;">この先生の授業はおすすめできる？</h3>
              </div>
              <div class="pie-contaier">
                <canvas id="myChart"></canvas>
                <script>draw_graph();</script>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div style="width:100%;">
      <div class="prof-comments-container">
        <% @comments.each do |t| %>
        <div class="each-prof-container">
        <%= t.comments_for_prof %>
        </div>
        <% end %>
      </div>
      </div>
    </div>

  </section>
<script type="text/javascript">
  $('.standard-of-easy').hover(
    function() {

        //マウスカーソルが重なった時の処理
        $('.tagadjuster').css('display', 'block');

    },
    function() {

        //マウスカーソルが離れた時の処理
        $('.tagadjuster').css('display', 'none');

    }
);
  $(".star-rating-js").each(function(i, e){
      var el = $(e);
      var rateMark = el.data("rating-mark") ? el.data("rating-mark") : "★";
      var rateStr = Array(el.data("rating-max")+1).join(rateMark);
      el.append($("<div>").addClass("rating-front").html(rateStr).css("width", el.data("rating-value") + "%"));
      el.append($("<div>").addClass("rating-back").html(rateStr));
  });
  Chart.plugins.register({
      afterDatasetsDraw: function (chart, easing) {
          // To only draw at the end of animation, check for easing === 1
          var ctx = chart.ctx;

          chart.data.datasets.forEach(function (dataset, i) {
              var meta = chart.getDatasetMeta(i);
              if (!meta.hidden) {
                  meta.data.forEach(function (element, index) {
                      // Draw the text in black, with the specified font
                      ctx.fillStyle = 'rgb(0, 0, 0)';

                      var fontSize = 22;
                      var fontStyle = 'normal';
                      var fontFamily = 'Helvetica Neue';
                      ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                      // Just naively convert to string for now
                      var dataString = dataset.data[index].toString();

                      // Make sure alignment settings are correct
                      ctx.textAlign = 'center';
                      ctx.textBaseline = 'middle';

                      var padding = 5;
                      var position = element.tooltipPosition();
                      ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                  });
              }
          });
      }
  });
</script>
