<head>
  <%= stylesheet_link_tag "aboutweb", :media => "all" %>
</head>

<div style="margin:0 0 30px 60px; width:570px;">
  <h1 style="margin-left:40px; margin-bottom:10px;">総合満足度</h1>
  <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displaytotalsatis10x %>" data-rating-max="10"></span> <%=@displaytotalsatis %><span style="font-size:0.5em;"> (<%= @howmanyTotalsatis %>)</span></h1>
</div>
<div class="satis-and-easy">
   <div class="about-interest">
   <h3 style="margin-left:40px; margin-bottom:10px;">ためになる授業度</h3>
   <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayInterest10x %>" data-rating-max="10"></span> <%= @displayInterest %><span style="font-size:0.5em; ">  (<%= @howmanyInterest %>)</span></h1>
   </div>
   <div class="about-easy">
     <h3 style="margin-left:40px; margin-bottom:10px;display:inline-block">楽単度 <span style="font-size:0.6em;"></span></h3>
     <button class="standard-of-easy"><i class="far fa-hand-point-right"></i>&nbsp;楽単の理由はこちら</button>
      <h1 style="margin-left:30px; margin-bottom:20px;"><span class="star-rating-js" data-rating-value= "<%= @displayEasy10x %>" data-rating-max="10"></span> <%= @displayEasy %><span style="font-size:0.5em;">&ensp;(<%= @howmanyEasy %>)</span></h1>

    <div class= "tagadjuster">
       <div class="tagtagcontainer">
          <div class="tagtag">
            <h6 class="bad"><span class="no1">出席が厳しい</span></h6>
            <h6 class="good"><span class="no2">出席しなくていい</span></h6>
            <h6 class="bad"><span class="no3">テストが難しい</span></h6>
            <h6 class="good">テストが簡単</h6>
          </div>
          <div class="tagtag">
            <h6 class="bad">良や可が来やすい</h6>
            <h6 class="good">秀や優が来やすい</<<h></h>6></h6>
            <h6 class="bad">課題がキツイ</h6>
            <h6 class="good">課題が楽</h6>
          </div>
       </div>
    </div>
   </div>
</div>
