<head>
  <%= stylesheet_link_tag "bases/home", :media => "all" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<section id="top">
 <div class="top-image-mask">
  <div class="header-home">
  <%= link_to bases_home_path ,class:"toHome",method: :get do %>
    <div class="header-home-first">
      <h4 class="sitetitle">横国の森</h4>
    </div>
   <% end %>
    <div class="header-home-second">
      <span><a href="https://www.ynu.ac.jp/" class="toOfficial">横国公式HP</a></span>
       <span><a href="https://risyu.jmk.ynu.ac.jp/gakumu/Public/Syllabus/" class="toSyllabus">横国公式シラバス</a></span>
      <span><a href="https://lms.ynu.ac.jp/lms/lginLgir/;jsessionid=8DC58DD2EC2BAB161E16E8D31732ED2F.fjlms12" class="toYNUassist">授業支援システム</a></span>
      <span><a href="https://www.ynu.ac.jp/campus/student_only/affairs_system.html" class="toYNUgakumu">学務情報システム</a></span>
    </div>
  </div>
    <div id="header-smartphone">

        <h2 id="howtobar-smartphone" ><span id="mini-menu"><i class="fas fa-bars barbar"></i></span></h2>
    </div>
    <div class="home-main">
      <div id="howto">
        <div id=howtocontaier>
        <ul id="howtoaccordion">
          <li><h1 id="howtobar" ><i class="fas fa-bars barbar"></i></h1></li>
          <li>
            <ul id="howtoaccordion2">
              <%= link_to bases_howtouse_path, method: :get do %>
              <li><div class="howtomenu">使い方</div></li>
              <% end %>
              <%= link_to bases_aboutweb_path, method: :get do %>
              <li><div class="howtomenu">このサイトについて</div></li>
              <% end %>
              <%= link_to bases_opinions_path, method: :get do %>
              <li><div class="howtomenu">お問い合わせ</div></li>
              <% end %>
            </ul>
          </li>
        </ul>
        </div>
       </div>

       <div id="welcome-smartphone">
         <div>
           <h3>横国の森へようこそ</h3>
         </div>
         <div class="home-intro-smartphone">
         <h6>今、あなたの目の前には<br>レビューの木が２本立っている。</h6>
         <h6>どうやらこの２本の木の葉には<br>口コミを書くことができるようだ。</h6>
         <h6>試しに口コミを書こう。</h6>
         </div>
       </div>

     <div id="welcome-pc">
      <div>
          <h1>横国の森へようこそ</h1>
      </div>
      <div class="home-intro">
        <h4>今、あなたの目の前にはレビューの木が２本立っています。</h4>
        <h4>どうやらこの２本の葉には口コミを書くことができるようです。</h4>
        <h4>試しに口コミを書いてみましょう。</h4>
      </div>
     </div>
      <div class="totree">
        <button id="showseachingprof">教員の木を見てみる</button>
        <button id="showseachinglec">授業の木を見てみる</button>
      </div>
  </div>
  </div>
</section>
<section id="for-search-display0">
  <div id="search-0">
  <div id="header-smartphone">
      <h2 id="howtobar-smartphone" ><span id="mini-close"><i class="fas fa-times howtobar-smartphone-close"></i></span></h2>
  </div>
  <div id="menu-smartphone">
        <ul id="menu-accordion-smartphone">
          <li id="about-ynu"><h6><span>〜&nbsp;横国公式サイトの木々へ〜&nbsp;</span></h6></li>
            <ul id="to-about-ynu">
              <li><span><a href="https://www.ynu.ac.jp/" class="toOfficial">▶&nbsp;横国公式HP　　&nbsp;</a></span></li>
              <li><span><a href="https://risyu.jmk.ynu.ac.jp/gakumu/Public/Syllabus/" class="toSyllabus">▶&nbsp;横国公式シラバス</a></span></li>
              <li><span><a href="https://lms.ynu.ac.jp/lms/lginLgir/;jsessionid=8DC58DD2EC2BAB161E16E8D31732ED2F.fjlms12" class="toYNUassist">▶&nbsp;授業支援システム</a></span></li>
              <li><span><a href="https://www.ynu.ac.jp/campus/student_only/affairs_system.html" class="toYNUgakumu">▶&nbsp;学務情報システム</a></span></li>
            </ul>
          <%= link_to bases_howtouse_path, method: :get do %>
            <li id="howuse" style="margin-top:20px;"><h6><span>〜&nbsp;横国の森の使い方〜&nbsp;</span></h6></li>
          <% end %>
          <%= link_to bases_aboutweb_path, method: :get do %>
            <li id="about-this-site" style="margin-top:20px;"><h6><span>〜&nbsp;横国の森について〜&nbsp;</span></h6></li>
          <% end %>
          <%= link_to bases_opinions_path, method: :get do %>
            <li id="about-opinion"style="margin-top:20px;"><h6><span>〜&nbsp;お問い合わせ〜&nbsp;</span></h6></li>
          <% end %>
        </ul>
    </div>
    </div>
</section>
<section id="for-search-display2">
  <div id="seach-display2">
    <div id="search-prof2">
      <h2><i class="fas fa-times fa-2x" id="closesearch2"></i></h2>
      <h1> <span style="border-bottom:2px double rgba(183,170,0,1); padding-bottom:5px;">教員の木</span></h1>
      <h2 style="margin-top:110px;"><a href="/professors"><i class="fas fa-address-book"></i>&ensp;全教員一覧を見る</a></h2>
        <div id="searchs-hidden2">
            <h2 id="fromkeyword2"><i class="far fa-hand-point-right"></i>&ensp;キーワードから探す</h2>
        </div>
        <ul id="hiddenprof-search2">
          <div class="adjustprof2-smartphone"style="margin-bottom:20px;">
             <%= form_tag('/professors', method: :get) do %>
               <%= text_field_tag :search, '',class: 'search-box-smartphone',placeholder: "教員名か所属を入力してください。",size:20 %><br>
               <%= submit_tag '検索',:name => nil ,class: "search-button-smartphone" %>
             <% end %>
          </div>
          <div class="adjustprof2"style="margin-bottom:20px;">
             <%= form_tag('/professors', method: :get) do %>
               <%= text_field_tag :search, '',class: 'search-box',placeholder: "教員名か所属を入力してください。",size:40 %>
               <%= submit_tag '検索',:name => nil ,class: "search-button" %>
             <% end %>
          </div>
        </ul>

        <div class="accordion-for-profs2 city-and-science1">
          <h2 class="switchofsearchprof2"><i class="far fa-hand-point-right"></i>&ensp;学部学科で探す</h2>
          <ul class="accordion-prof-container2">
            <div class="department-row">
            <div style="width:100%;">
              <li><h2 class="searchfrom2"><span>経済学部</span></h2></li>
                <ul class="moreprofdepartment2" style="text-align:center;margin-top:-20px;">
                  <li><h4><a href="/professors?utf8=✓&search=経済学科"style="color:white;">▶経済学科</a></h4></li>
                </ul>
            </div>
            <div style="width:100%;">
              <li><h2 class="searchfrom2"><span>経営学部</span></h2></li>
              <ul class="moreprofdepartment2" style="text-align:center;margin-top:-20px;">
                <li><h4><a href="/professors?utf8=✓&search=経営学科"style="color:white;">▶経営学科</a></h4></li>
              </ul>
            </div>
            <div style="width:100%;">
              <li><h2 class="searchfrom2"><span>教育学部</span></h2></li>
              <ul class="moreprofdepartment2" style="text-align:center;margin-top:-20px;">
                <li><h4><a href="/professors?utf8=✓&search=教育学科"style="color:white;">&ensp;▶教育学科</a></h4></li>
              </ul>
            </div>
            <div style="width:100%;">
            <li><h2 class="searchfrom2"><span>都市科学部</span></h2></li>
            <ul class="moreprofdepartment2"style="text-align:left; margin-left:50px;margin-top:-20px;">
              <li><h4><a href="/professors?utf8=✓&search=都市社会共生学科"style="color:white">▶都市社会共生学科</a></h4></li>
              <li><h4><a href="/professors?utf8=✓&search=建築学科"style="color:white">▶建築学科</a></h4></li>
              <li><h4><a href="/professors?utf8=✓&search=都市基盤学科"style="color:white">▶都市基盤学科</a></h4></li>
              <li><h4><a href="/professors?utf8=✓&search=環境リスク共生学科"style="color:white">▶環境リスク共生学科</a></h4></li>
            </ul>
            </div>
            <div style="width:100%;">
            <li><h2 class="searchfrom2"><span>理工学部</span></h2></li>
            <ul class="moreprofdepartment2"style="margin-top:-10px;">
              <li class="liprof2"><h4><a href="/professors?utf8=✓&search=機械・材料・海洋系学科"style="color:white">▶機械・材料・海洋系学科</a></h4></li>
                 <ul class="major-ul2">
                   <li><h5><a href="/professors?utf8=✓&search=機械工学"style="color:white">&ensp;▶機械工学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=材料工学"style="color:white">&ensp;▶材料工学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=海洋空間のシステムデザイン"style="color:white">&ensp;▶海洋空間のシステムデザインEP</a></h5></li>
                 </ul>
              <li class="liprof2"><h4><a href="/professors?utf8=✓&search=化学・生命系学科"style="color:white">▶化学・生命系学科</a></h4></li>
                 <ul class="major-ul2">
                   <li><h5><a href="/professors?utf8=✓&search=化学"style="color:white">&ensp;▶化学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=化学応用"style="color:white">&ensp;▶化学応用EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=バイオ"style="color:white">&ensp;▶バイオEP</a></h5></li>
                 </ul>
              <li class="liprof2" style="margin-top:7px;"><h4><a href="/professors?utf8=✓&search=数物・電子情報系学科"style="color:white">▶数物・電子情報系学科</a></h4></li>
                 <ul class="major-ul2">
                   <li><h5><a href="/professors?utf8=✓&search=数理科学"style="color:white">&ensp;▶数理科学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=物理工学"style="color:white">&ensp;▶物理工学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=電子情報システム工学"style="color:white">&ensp;▶電子情報システム工学EP</a></h5></li>
                   <li><h5><a href="/professors?utf8=✓&search=情報工学"style="color:white">&ensp;▶情報工学EP</a></h5></li>
                 </ul>
            </ul>
            </div>
            </div>
            </ul>
         </div>
<!--PC -->
<div class="accordion-for-profs2 city-and-science2">
<h2 class="switchofsearchprof2"><i class="far fa-hand-point-right"></i>&ensp;学部学科で探す</h2>
<ul class="accordion-prof-container2">
 <div style="width:100%;display:flex; flex-direction:row; justify-content:space-around;">
   <div>
 <li><h3 class="searchfrom2"><span>経済学部</span></h3></li>
   <ul class="moreprofdepartment2" style="text-align:center;">
     <li><h5><a href="/professors?utf8=✓&search=経済学科"style="color:white;">&ensp;▶経済学科</a></h5></li>
   </ul>
   </div>
   <div>
 <li><h3 class="searchfrom2"><span>経営学部</span></h3></li>
   <ul class="moreprofdepartment2" style="text-align:center;"">
     <li><h5><a href="/professors?utf8=✓&search=経営学科"style="color:white;">&ensp;▶経営学科</a></h5></li>
   </ul>
   </div>
     <div>
 <li><h3 class="searchfrom2"><span>教育学部</span></h3></li>
 <ul class="moreprofdepartment2" style="text-align:center;">
   <li><h5><a href="/professors?utf8=✓&search=教育学科"style="color:white;">&ensp;▶教育学科</a></h5></li>
 </ul>
   </div>
 </div>
 <div style="width:100%;display:flex; flex-direction:row; justify-content:flex-start;">
   <div style="width:40%; margin: 20px 0 0 30px;">
 <li><h3 class="searchfrom2"><span>都市科学部</span></h3></li>
 <ul class="moreprofdepartment2">
   <li><h5><a href="/professors?utf8=✓&search=都市社会共生学科"style="color:white">&ensp;▶都市社会共生学科</a></h5></li>
   <li><h5><a href="/professors?utf8=✓&search=建築学科"style="color:white">&ensp;▶建築学科</a></h5></li>
   <li><h5><a href="/professors?utf8=✓&search=都市基盤学科"style="color:white">&ensp;▶都市基盤学科</a></h5></li>
   <li><h5><a href="/professors?utf8=✓&search=環境リスク共生学科"style="color:white">&ensp;▶環境リスク共生学科</a></h5></li>
 </ul>
     </div>
 <div style="width:60%;margin:20px 0 0 -45px;"">
 <li><h3 class="searchfrom2"><span>理工学部</span></h3></li>
 <ul class="moreprofdepartment2">
   <li class="liprof2"><h5><a href="/professors?utf8=✓&search=機械・材料・海洋系学科"style="color:white">&ensp;▶機械・材料・海洋系学科</a></h5></li>
      <ul class="major-ul2">
        <li><h6><a href="/professors?utf8=✓&search=機械工学"style="color:white">&ensp;▶機械工学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=材料工学"style="color:white">&ensp;▶材料工学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=海洋空間のシステムデザイン"style="color:white">&ensp;▶海洋空間のシステムデザインEP</a></h6></li>
      </ul>
   <li class="liprof2"><h5><a href="/professors?utf8=✓&search=化学・生命系学科"style="color:white">&ensp;▶化学・生命系学科</a></h5></li>
      <ul class="major-ul2">
        <li><h6><a href="/professors?utf8=✓&search=化学"style="color:white">&ensp;▶化学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=化学応用"style="color:white">&ensp;▶化学応用EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=バイオ"style="color:white">&ensp;▶バイオEP</a></h6></li>
      </ul>
   <li class="liprof2" style="margin-top:7px;"><h5><a href="/professors?utf8=✓&search=数物・電子情報系学科"style="color:white">&ensp;▶数物・電子情報系学科</a></h5></li>
      <ul class="major-ul2">
        <li><h6><a href="/professors?utf8=✓&search=数理科学"style="color:white">&ensp;▶数理科学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=物理工学"style="color:white">&ensp;▶物理工学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=電子情報システム工学"style="color:white">&ensp;▶電子情報システム工学EP</a></h6></li>
        <li><h6><a href="/professors?utf8=✓&search=情報工学"style="color:white">&ensp;▶情報工学EP</a></h6></li>
      </ul>
 </ul>
   </div>
 </div>
</ul>
</div>
      </div>
    </div>
</section>

<section id="for-search-display3">
  <div id="seach-display3">
    <div id="search-lec">
      <h2><i class="fas fa-times fa-2x" id="closesearch3"></i></h2>
      <h1> <span style="border-bottom:2px double rgba(183,170,0,1); padding-bottom:5px;">授業の木</span></h1>
      <h2 style="margin-top:110px;"><a href="/lectures"><i class="fas fa-address-book"></i>&ensp;全授業一覧を見る</a></h2>
        <div id="searchs-hidden3">
            <h2 id="fromkeyword3"><i class="far fa-hand-point-right"></i>&ensp;キーワードから探す</h2>
        </div>
        <ul id="hiddenlec-search">
          <div class="adjustlec-smartphone"style="margin-bottom:20px;">
             <%= form_tag('/lectures', method: :get) do %>
               <%= text_field_tag :search, '',class: 'search-box-smartphone',placeholder: "授業名か開講学部を入力してください。",size:20 %><br>
               <%= submit_tag '検索',:name => nil ,class: "search-button-smartphone" %>
             <% end %>
          </div>
          <div class="adjustlec"style="margin-bottom:20px;">
             <%= form_tag('/lectures', method: :get) do %>
               <%= text_field_tag :search, '',class: 'search-box',placeholder: "授業名か開講学部を入力してください。",size:40 %>
               <%= submit_tag '検索',:name => nil ,class: "search-button" %>
             <% end %>
          </div>
        </ul>

        <div class="accordion-for-lecs city-and-science3">
          <h2 class="switchofsearchlec"><i class="far fa-hand-point-right"></i>&ensp;学部学科で探す</h2>
          <ul class="accordion-lec-container"style="width:100%;">
            <div class="department-row">
            <div style="width:100%;">
              <li><h2 class="searchfrom3"><span>経済学部</span></h2></li>
                <ul class="morelecdepartment" style="text-align:center;margin-top:-10px;margin-bottom:20px;">
                  <li><h4><a href="/lectures?utf8=✓&search=経済学科"style="color:white;">▶経済学科</a></h4></li>
                </ul>
            </div>
            <div style="width:100%;">
              <li><h2 class="searchfrom3"><span>経営学部</span></h2></li>
              <ul class="morelecdepartment" style="text-align:center;margin-top:-10px;margin-bottom:20px;">
                <li><h4><a href="/lectures?utf8=✓&search=経営学科"style="color:white;">▶経営学科</a></h4></li>
              </ul>
            </div>
            <div style="width:100%;">
              <li><h2 class="searchfrom3"><span>教育学部</span></h2></li>
              <ul class="morelecdepartment" style="text-align:center;margin-top:-10px;margin-bottom:20px;">
                <li><h4><a href="/lectures?utf8=✓&search=教育学科"style="color:white;">&ensp;▶教育学科</a></h4></li>
              </ul>
            </div>
            <div style="width:100%;">
            <li><h2 class="searchfrom3"><span>都市科学部</span></h2></li>
            <ul class="morelecdepartment"style="text-align:left; margin-left:50px;margin-top:-10px;margin-bottom:20px;">
              <li><h4><a href="/lectures?utf8=✓&search=都市社会共生学科"style="color:white">▶都市社会共生学科</a></h4></li>
              <li><h4><a href="/lectures?utf8=✓&search=建築学科"style="color:white">▶建築学科</a></h4></li>
              <li><h4><a href="/lectures?utf8=✓&search=都市基盤学科"style="color:white">▶都市基盤学科</a></h4></li>
              <li><h4><a href="/lectures?utf8=✓&search=環境リスク共生学科"style="color:white">▶環境リスク共生学科</a></h4></li>
            </ul>
            </div>
            <div style="width:100%;">
            <li><h2 class="searchfrom3"><span>理工学部</span></h2></li>
            <ul class="morelecdepartment"style="margin-top:-10px;margin-bottom:20px;">
              <li class="lilec"><h4><a href="/lectures?utf8=✓&search=機械・材料・海洋系学科"style="color:white">▶機械・材料・海洋系学科</a></h4></li>
                 <ul class="major-ul3">
                   <li><h5><a href="/lectures?utf8=✓&search=機械工学"style="color:white">&ensp;▶機械工学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=材料工学"style="color:white">&ensp;▶材料工学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=海洋空間のシステムデザイン"style="color:white">&ensp;▶海洋空間のシステムデザインEP</a></h5></li>
                 </ul>
              <li class="lilec"><h4><a href="/lectures?utf8=✓&search=化学・生命系学科"style="color:white">▶化学・生命系学科</a></h4></li>
                 <ul class="major-ul3">
                   <li><h5><a href="/lectures?utf8=✓&search=化学"style="color:white">&ensp;▶化学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=化学応用"style="color:white">&ensp;▶化学応用EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=バイオ"style="color:white">&ensp;▶バイオEP</a></h5></li>
                 </ul>
              <li class="lilec" style="margin-top:7px;"><h4><a href="/lectures?utf8=✓&search=数物・電子情報系学科"style="color:white">▶数物・電子情報系学科</a></h4></li>
                 <ul class="major-ul3">
                   <li><h5><a href="/lectures?utf8=✓&search=数理科学"style="color:white">&ensp;▶数理科学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=物理工学"style="color:white">&ensp;▶物理工学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=電子情報システム工学"style="color:white">&ensp;▶電子情報システム工学EP</a></h5></li>
                   <li><h5><a href="/lectures?utf8=✓&search=情報工学"style="color:white">&ensp;▶情報工学EP</a></h5></li>
                 </ul>
            </ul>
            </div>
            </div>
            </ul>
         </div>
<!--PC -->
<div class="accordion-for-lecs city-and-science4">
<h2 class="switchofsearchlec"><i class="far fa-hand-point-right"></i>&ensp;学部学科で探す</h2>
<ul class="accordion-lec-container">
 <div style="width:100%;display:flex; flex-direction:row; justify-content:space-around;">
   <div>
 <li><h3 class="searchfrom3"><span>経済学部</span></h3></li>
   <ul class="morelecdepartment" style="text-align:center;">
     <li><h5><a href="/lectures?utf8=✓&search=経済学科"style="color:white;">&ensp;▶経済学科</a></h5></li>
   </ul>
   </div>
   <div>
 <li><h3 class="searchfrom3"><span>経営学部</span></h3></li>
   <ul class="morelecdepartment" style="text-align:center;"">
     <li><h5><a href="/lectures?utf8=✓&search=経営学科"style="color:white;">&ensp;▶経営学科</a></h5></li>
   </ul>
   </div>
     <div>
 <li><h3 class="searchfrom3"><span>教育学部</span></h3></li>
 <ul class="morelecdepartment" style="text-align:center;">
   <li><h5><a href="/lectures?utf8=✓&search=教育学科"style="color:white;">&ensp;▶教育学科</a></h5></li>
 </ul>
   </div>
 </div>
 <div style="width:100%;display:flex; flex-direction:row; justify-content:flex-start;">
   <div style="width:40%; margin: 20px 0 0 30px;">
 <li><h3 class="searchfrom3"><span>都市科学部</span></h3></li>
 <ul class="morelecdepartment">
   <li><h5><a href="/lectures?utf8=✓&search=都市社会共生学科"style="color:white">&ensp;▶都市社会共生学科</a></h5></li>
   <li><h5><a href="/lectures?utf8=✓&search=建築学科"style="color:white">&ensp;▶建築学科</a></h5></li>
   <li><h5><a href="/lectures?utf8=✓&search=都市基盤学科"style="color:white">&ensp;▶都市基盤学科</a></h5></li>
   <li><h5><a href="/lectures?utf8=✓&search=環境リスク共生学科"style="color:white">&ensp;▶環境リスク共生学科</a></h5></li>
 </ul>
     </div>
 <div style="width:60%;margin:20px 0 0 -45px;"">
 <li><h3 class="searchfrom3"><span>理工学部</span></h3></li>
 <ul class="morelecdepartment">
   <li class="lilec"><h5><a href="/lectures?utf8=✓&search=機械・材料・海洋系学科"style="color:white">&ensp;▶機械・材料・海洋系学科</a></h5></li>
      <ul class="major-ul3">
        <li><h6><a href="/lectures?utf8=✓&search=機械工学"style="color:white">&ensp;▶機械工学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=材料工学"style="color:white">&ensp;▶材料工学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=海洋空間のシステムデザイン"style="color:white">&ensp;▶海洋空間のシステムデザインEP</a></h6></li>
      </ul>
   <li class="lilec"><h5><a href="/lectures?utf8=✓&search=化学・生命系学科"style="color:white">&ensp;▶化学・生命系学科</a></h5></li>
      <ul class="major-ul3">
        <li><h6><a href="/lectures?utf8=✓&search=化学"style="color:white">&ensp;▶化学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=化学応用"style="color:white">&ensp;▶化学応用EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=バイオ"style="color:white">&ensp;▶バイオEP</a></h6></li>
      </ul>
   <li class="lilec" style="margin-top:7px;"><h5><a href="/lectures?utf8=✓&search=数物・電子情報系学科"style="color:white">&ensp;▶数物・電子情報系学科</a></h5></li>
      <ul class="major-ul3">
        <li><h6><a href="/lectures?utf8=✓&search=数理科学"style="color:white">&ensp;▶数理科学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=物理工学"style="color:white">&ensp;▶物理工学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=電子情報システム工学"style="color:white">&ensp;▶電子情報システム工学EP</a></h6></li>
        <li><h6><a href="/lectures?utf8=✓&search=情報工学"style="color:white">&ensp;▶情報工学EP</a></h6></li>
      </ul>
 </ul>
   </div>
 </div>
</ul>
</div>
      </div>
    </div>
</section>

<script type="text/javascript">
  $(function(){
      $("#howtobar").click(function(){
          $("#howtoaccordion2").slideToggle();
      });
  });

  $(function(){
    $('#showseachingprof').click(function() {
      $('#for-search-display2').slideToggle();
      $('.top-image-mask').css("background-color","rgba(0,0,0,0.5)");
  });
    });

    $(function(){
        $(".switchofsearchprof2").click(function(){
          $(this).toggleClass("switchofsearchprof-click2");
          $(".accordion-prof-container2").slideToggle();
        });
    });
    $(function(){
      $(".accordion-prof-container2 li").click(function() {
        $(this).toggleClass("switchofsearchprof-click2");
        $(this).next('ul').slideToggle();
    });
      });
  $(function(){
        $("#moreprofdepartment2 li span").click(function() {
          $(this).next('ul').slideToggle();
      });
        });
  $(function(){
        $("#closesearch2").click(function(){
          $('.top-image-mask').css("background-color","rgba(0,0,0,0.3)");
          $("#for-search-display2").slideUp();
      });
        });
  $(function(){
      $("#fromkeyword2").click(function(){
        $(this).toggleClass("switchofsearchprof-click2");
          $("#hiddenprof-search2").slideToggle();
      });
        });
  $(function(){
      $('#showseachinglec').click(function() {
          $('.top-image-mask').css("background-color","rgba(0,0,0,0.5)");
          $('#for-search-display3').slideToggle();
        });
      });

  $(function(){
      $(".switchofsearchlec").click(function(){
          $(this).toggleClass("switchofsearchlec-click");
           $(".accordion-lec-container").slideToggle();
       });
      });
  $(function(){
      $(".accordion-lec-container li").click(function() {
              $(this).toggleClass("switchofsearchlec-click");
              $(this).next('ul').slideToggle();
       });
      });
  $(function(){
              $("#morelecdepartment li span").click(function() {
                $(this).next('ul').slideToggle();
       });
      });
  $(function(){
              $("#closesearch3").click(function(){
                $('.top-image-mask').css("background-color","rgba(0,0,0,0.3)");
                $("#for-search-display3").slideUp();
       });
      });
  $(function(){
    $("#fromkeyword3").click(function(){
    $(this).toggleClass("switchofsearchlec-click");
     $("#hiddenlec-search").slideToggle();
      });
    });
    $(function(){
        $("#howtobar-smartphone").click(function(){
            $("#for-search-display0").slideToggle();
        });
    });
    $(function(){
        $(".howtobar-smartphone-close").click(function(){
            $("#for-search-display0").slideToggle();
        });
    });
    $(function(){
        $("#about-ynu").click(function(){
            $("#to-about-ynu").slideToggle();
        });
    });


</script>
